/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/


#homepageHeader {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#HomeSoftwareHeader {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

body {
    background-color: #272B30;
}

#WelcomeOptions {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    background-color: transparent;
}

#cardtest {
    background-color: transparent;
    color: white;
    text-align: center;
}

#ticketForm {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    color: white;
}

#pageheader {
    color: white;
    text-align: center;
    margin-top: 2.5%;
}

#resolvedTicketsCardDeck {
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding: 3%;
    width: 85%;
}

#resolvedtickets {

}

#howItWorks {
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

#mid {
    margin-top: 25px;
    margin-left: 350px;
    margin-right: 100px;
    margin-bottom: 50px;

}

#last {
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;

}

#solutionForm {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    color: white;
}